<div class="articles">
  <div class="articles-main">
    <app-highlighted-card
    id="1"
    cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem molestias debitis animi maxime consequuntur nostrum similique, doloremque explicabo dolor perspiciatis repellat officiis alias corporis porro sint fuga."
    cardTitle="Clean Code: Boas práticas de programação"
    photoCover="https://miro.medium.com/v2/resize:fit:851/1*kAII9-13lufRkNegTdhqzA.jpeg"
    >
  </app-highlighted-card>
  </div>
  <div class="articles-secondary">
    <app-card
    id="2"
    photoCover="https://hyc-red.oss-cn-chengdu.aliyuncs.com/clean-architecture/clean-arch.jpeg"
    cardTitle="Sic parvis magna"
    ></app-card>
    <app-card
    id="3"
    photoCover="https://etimg.etb2bimg.com/photo/100088163.cms"
    cardTitle="Scientia potentia est"
    ></app-card>
    <app-card
    id="4"
    photoCover="https://e0.pxfuel.com/wallpapers/691/707/desktop-wallpaper-morgan-codes-minimal-minimalist-code.jpg"
    cardTitle="Omne initium difficile est"
    ></app-card>
  </div>
</div>
